* {
    margin: 0;
    padding: 0;
}

body {
background-color:#eee;
font-family: arial;
}

nav {
width: 100%;
height: 80px;
background-color: #4F5D75;
}

ul {
margin-left: 60px;
}

ul li {
list-style: none;
display: inline-block;
line-height: 100px;
}

ul li a {
    display: block;
text-decoration: none;
font-size: 16px;
font-family: arial;
color: white;
padding: 0 20px;
}

ul li a:hover{
color: #81A5E9;
}

a{
    color: #81A5E9;
    text-decoration: none;
  }

a[href^="mailto"]::before {
    content: "";
}

.inline-div {
    display: table;
    text-align:center;
    width:100%;
  }

  .embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

  .label {
    color: white;
    padding: 8px;
  }

  a.button {
    color: white;
    text-decoration: none;
  }

.URL {background-color: #04AA6D;}
/* .other {background-color: #e7e7e7; color: black;}